@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto&display=swap');

/*----------------------General--*/
.welcomeMessage {
    padding-top: 200px;
    color: #fff;
}

.categorySection {
    background-color: #F8F9FA;
    height: 250px;
}

.searchForm {
    padding-top: 50px;
}

.baseContainer {
    padding-top: 55px;
    text-align: center;
    height: 500px;
    background-image: url("/static/images/Basic-Landing-Page-background.jpg");
    background-size: cover;
    background-position: center;
    
}

