@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto&display=swap');

/*----------------------General--*/
.welcomeMessage {
    padding-top: 200px;
    color: #fff;
}

.categorySection {
    background-color: #F8F9FA;
    height: 250px;
}

.searchForm {
    padding-top: 50px;
}

.baseContainer {
    padding-top: 55px;
    text-align: center;
    height: 500px;
    background-image: url("/static/images/pexels-andrea-piacquadio-3768894.jpg");
    background-size: cover;
    background-position: center;
    
}

.searchItem {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: pink;
    border-style: solid;
    background-image: url("/static/images/13416400251535694869-128.png");
    background-size: cover;
    background-position: center;
}

.howToSection {
    background-color: #F8F9FA;
}

.contactSeller {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: pink;
    border-style: solid;
    background-image: url("/static/images/16100242721538115828-128.png");
    background-size: cover;
    background-position: center;
}

.Transact {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: pink;
    border-style: solid;
    background-image: url("/static/images/handshake.png");
    background-size: cover;
    background-position: center;
}

.profileImage {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.imageHeight {
    display: flex;
    height: 30vh;
}