
/*.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

.carousel .carousel-item>img {
    width: 100%;
} */

.baseContainer {
    padding-top: 55px;
}

.searchForm {
    padding-top: 350px;
}

.baseContainer {
    text-align: center;
    height: 600px;
    background-image: url("/static/images/Basic-Landing-Page-background.jpg");
    background-size: cover;
    background-position: center;
    
}
