{% extends "base.html" %}
{% block content %}
<section class="container-fluid baseContainer">
    <div class="welcomeMessage">
        <h1>Welcome to Marketsquare</h1>
        <h6>What do you want to buy today</h6>
    </div>
    <form id="searchForm" class="row searchForm justify-content-center">
        <input id="word" name="word" type="text" class="col-8 col-xs-6 col-md-4 col-lg-5 center-align my-auto validate" required>
        <button type="submit" class="col-3 col-md-2 col-lg-1 center-align my-auto">
        Search <i class="fas-fa-sign-in-alt"></i>
        </button>
    </form>
</section>
<h3 class="center-align">Log in</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
      <div class="card">
      <!---- Username input-->
        <div class="card-body mx-4 mt-4">
            <div class="input-field md-form">
                <i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
                <input id="email" name="email" type="text"  class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
        <!---- Password input-->
        <div class="row">
            <div class="input-field md-form pb-1 pb-md-3">
                <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
      </div>
      <!---- Login button-->
      <div class="row">
        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
            Log in <i class="fas-fa-sign-in-alt"></i>
        </button>
      </div>
      </div>
    </form>
  </div>
  <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
            </p>
        </div>
    </div>
<section class="container-fluid">
    <div class="row howToSection justify-content-center">
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="searchItem mx-auto"></div>
            <p>Search for items</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="contactSeller mx-auto"></div>
            <p>Contact seller</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="Transact mx-auto"></div>
            <p>Arrange transaction</p>
        </div>
    </div>
</section>    

{% endblock %}