{% extends "base.html" %}
{% block content %}
<!-- LANDING IMAGE-->
<section class="container-fluid baseContainer">
    <div class="welcomeMessage">
        <h1 class="Titles">Welcome to <span class="brand_name">marketSquare</span></h1>
        <h5>What do you want to buy today</h5>
    </div>
    <!--SEARCH ENGINE FORM-->
    <form id="searchForm" class="row searchForm justify-content-center">
        <input id="word" name="word" type="text" class=" form-control form-control-sm col-8 col-xs-6 col-md-4 col-lg-5 center-align my-auto validate" required>
        <button type="submit" id="searchedResult" class="btn btn-sm btn-dark col-3 col-md-2 col-lg-1 center-align my-auto">
        Search <i class="fas-fa-sign-in-alt"></i>
        </button>
    </form>
</section>
<!--CATEGORY SECTION-->
<section class="container-fluid categorySection">
    <ul class="mx-auto" style="padding-left: 0; padding-top:40px; padding-bottom: 40px;">
        <div class="row justify-content-around">
        {% for category in categories %}
            <div class="col-4 col-md-2 text-center my-auto">
                <a href="{{url_for('get_categories', category_id=category.id)}}">
                    <button type="button" class="btn btn-sm btn-dark">{{category.name}}</button> 
                </a>
            </div>
        {% endfor %}    
        </div>
    </ul>
</section>
<section class="container" style="background-color: #f8f9fa;">
<!--LISTED ITEMS SECTION-->                
    <div class="container item_display">
        <div id="home" class="row justify-content-start" style="padding-top: 50px;">
            <h2 class="Listed_Title col-12 text-center">Listed items</h2>  
            {% for product in products %}
                    <div class="col-lg-3 col-sm-6 mb-4">
                        <div class="card h-60">
                            <div>
                                <a href="/selected-product/{{ product.id }}">
                                {% if {{ product.product_photoURL }} %}           
                                    <img class="card-img-top imageHeight img-fluid" src="{{ product.product_photoURL }}" alt=" Item photo">
                                {% else %}
                                    <img class="card-img-top imageHeight img-fluid" src="{{ url_for('static', filename='images/blank-img.jpg') }}" alt=" Item photo">
                                </a>
                                {% endif %} 
                            </div>
                            <div class="card-body" style="padding-top: 5px; padding-bottom: 5px;">
                                <h5 class="card-title" style="margin-bottom: 5px;">
                                    {{product.product_name}}
                                </h5>
                                <h6>
                                    {{product.product_price}}
                                </h6>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>    
</section>
<!--SEARCHED RESULT SECTION-->
<section class="container">
    <a href="#searchedResult"></a>
    <div id="results" style="display: none" class="row justify-content-start">
        <div class="col-12 text-center">
            <h2 class="Titles">Searched result</h2>
        </div>
        <a href="#">
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card h-60">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body" style="padding-top: 5px; padding-bottom: 5px;">
                        <h5 class="card-title" style="margin-bottom: 5px;">
                            <span id="product_name"></span>
                        </h5>
                        <h6>
                            <span id="product_price"></span>
                        </h6>
                        <P>
                            <span id="product_description"></span>
                        </P>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
<!--HOW IT WORKS SECTION-->
<section class="container-fluid">
    <div class="row howToSection justify-content-center">
        <h2 class="col-12 col-md-12 my-auto Titles text-center" style="padding-top: 20px;">How It Works</h2>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="searchItem mx-auto"></div>
            <p>Search for items</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="contactSeller mx-auto"></div>
            <p>Contact seller</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="Transact mx-auto"></div>
            <p>Arrange transaction</p>
        </div>
    </div>
</section>
{% endblock %} 
