{% extends "base.html" %}
{% block content %}
<!-- LANDING IMAGE-->
<section class="container-fluid baseContainer">
    <div class="welcomeMessage">
        <h1 class="Titles">Welcome to <span class="brand_name">marketSquare</span></h1>
        <h5 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">What do you want to buy today</h5>
    </div>
</section>
<!-----ITEM UPDATE SECTION-->
<div id="update">
    <div class="card row justify-content-center">
    <h3 class="mx-auto Titles">Update item</h3>
        <div class="card-body mx-auto col-10 col-md-4">
        <form action="{{ url_for('update_product', productId=product.id) }}" method="POST"  enctype="multipart/form-data">
        <!---- Update seller_name-->
            <div class="card-panel">
                <div class="md-form">
                    <label for="product_name">Name</label>
                    <input id="product_name" name="product_name" type="text" 
                    placeholder="{{product.product_name}}" class="validate" required>
                </div>
            <!---- Update seller_email-->
                <div class="md-form">
                    <label for="product_price">Price</label>
                    <input id="product_price" name="product_price" type="text"
                    placeholder="{{product.product_price}}" class="validate" required>
                </div>
            <!---- Update seller_password-->
                <div class="md-form">
                    <label for="product_description">Description</label>
                    <textarea id="product_description" name="product_description" type="text" 
                    placeholder="{{product.product_description}}" class="validate" required>
                    </textarea>
                    
                </div>
        <!----Update seller_phone-->
                <div class="md-form">
                    <label for="photo">Photo</label>
                    <input id="photo" name="photo" type="file"
                    placeholder="{{product.photo_photoURL}}" class="validate">
                </div>
        <!---- Update button-->
                <button type="submit" class="btn btn-sm btn-dark">
                    Register
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<!--HOW IT WORKS SECTION-->
<section class="container-fluid">
    <div class="row howToSection justify-content-center">
        <h2 class="col-12 col-md-12 my-auto Titles text-center" style="padding-top: 20px;">How It Works</h2>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="searchItem mx-auto"></div>
            <p>Search for items</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="contactSeller mx-auto"></div>
            <p>Contact seller</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="Transact mx-auto"></div>
            <p>Arrange transaction</p>
        </div>
    </div>
</section>
{% endblock %}
