{% extends "base.html" %}
{% block content %}
<!-- LANDING IMAGE-->
<section class="container-fluid baseContainer">
    <div class="welcomeMessage">
        <h1 class="Titles">Welcome to <span class="brand_name">marketSquare</span></h1>
        <h5>What do you want to buy today</h5>
    </div>
    <form id="searchForm" class="row searchForm justify-content-center">
        <input id="word" name="word" type="text" class=" form-control form-control-sm col-8 col-xs-6 col-md-4 col-lg-5 center-align my-auto validate" required>
        <button type="submit" class="btn btn-sm btn-dark col-3 col-md-2 col-lg-1 center-align my-auto">
        Search <i class="fas-fa-sign-in-alt"></i>
        </button>
    </form>
</section>
<div id="update">
    <div class="card row justify-content-center">
    <h3 class="mx-auto Titles">Update profile</h3>
        <div class="card-body mx-auto col-10 col-md-4">
        <form action="{{ url_for('update_product', productId=product.id) }}" method="POST"  enctype="multipart/form-data">
        <!---- Update seller_name-->
            <div class="card-panel">
                <div class="md-form">
                    <label for="product_name">Name</label>
                    <input id="product_name" name="product_name" type="text" 
                    placeholder="{{product.product_name}}" class="validate" required>
                </div>
            <!---- Update seller_email-->
                <div class="md-form">
                    <label for="product_price">Price</label>
                    <input id="product_price" name="product_price" type="text"
                    placeholder="{{product.product_price}}" class="validate" required>
                </div>
            <!---- Update seller_password-->
                <div class="md-form">
                    <label for="product_description">Description</label>
                    <input id="product_description" name="product_description" type="text" 
                    placeholder="{{product.product_description}}" class="validate" required>
                   
                </div>
        <!----Update seller_phone-->
                <div class="md-form">
                    <label for="photo">Photo</label>
                    <input id="photo" name="photo" type="file"
                    placeholder="{{product.photo_photoURL}}" class="validate">
                </div>
        <!---- Update button-->
                <button type="submit" class="btn btn-sm btn-dark">
                    Register
                </button>
            </div>
        </div>
        </form>
    </div>
</div>  
<section class="container-fluid">
    <div class="row howToSection justify-content-center">
        <h2 class="col-12 col-md-12 my-auto Titles text-center" style="padding-top: 20px;">How It Works</h2>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="searchItem mx-auto"></div>
            <p>Search for items</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="contactSeller mx-auto"></div>
            <p>Contact seller</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="Transact mx-auto"></div>
            <p>Arrange transaction</p>
        </div>
    </div>
</section>
{% endblock %}

<div class="card row">
        <h3 class="mx-auto Titles">Update profile</h3>
        <div class="card-body mx-auto col-10 col-md-4">
            <form action="" id="updateForm">
            <!---- Update seller_name-->
                    <div class="md-form">
                        <label for="seller_name">Username</label>
                        <input id="seller_name" name="seller_name" type="text" 
                        value="{{seller.seller_name}}" class="form-control validate" required>
                    </div>
                <!---- Update seller_email-->
                    <div class="md-form">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email"
                        value="{{seller.seller_email}}" class="form-control validate" required>
                </div>
                <!---- Update seller_password-->
                    <div class="md-form">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" 
                        value="{{seller.password_hash}}" class="form-control validate" required> 
            </div>
            <!----Update seller_phone-->
                    <div class="md-form">
                        <label for="username">Phone</label>
                        <input id="phone" name="phone" type="text"
                        value="{{seller.seller_phone}}" class="form-control validate" required>
                </div>
                <!----Update seller_city-->
                    <div class="md-form">
                        <label for="city">City</label>
                        <input id="city" name="city" type="text"
                        value="{{seller.seller_city}}" class="form-control validate" required> 
                </div>
                <div class="md-form">
                        <label for="photo">Photo</label>
                        <input id="photo" name="photo" type="file" class="form-control validate" required> 
                </div>

                <input type="hidden" id="userId" value="{{seller.id}}"/>
            <!---- Register button-->
            <div class="row">
                <button type="submit" id="updateBtn" class="btn btn-sm btn-dark">
                    Update profiles <i class="fas-fa-sign-in-alt"></i>
                </button>
            </div>
            </form>
        </div>
    </div>