{% extends "base.html" %}
{% block content %}

<section class="container-fluid baseContainer">  
            <form id="searchForm" class="row searchForm justify-content-center">
                    <input id="word" name="word" type="text" class="col-8 col-md-8 center-align my-auto validate" required>
                    <button type="submit" class="col-3 col-md-2 center-align my-auto">
                    Search <i class="fas-fa-sign-in-alt"></i>
                </button>
            </form>
</section>
<ul>
{% for category in categories %}
    <li><a href="{{url_for('get_categories', category_id=category.id)}}"> {{category.name}} </a></li>
{% endfor %}
</ul>
<div id="home">
	<h2>Items listed</h2>
	{% for product in products %}
	<a href="#">
		{{product.product_name}}
		{{product.product_price}}
	</a>
	{% endfor %}

</div>
<div id="results" style="display: none">
	<h2>Searched result</h2>
	<div>
		<a href="#">
			<span id="product_name"></span>
            <span id="product_price"></span>
			<span id="product_description"></span>
		</a>
	</div>
</div>
{% endblock %}