{% extends "base.html" %}
{% block content %}
<section class="container-fluid baseContainer">
    <div class="welcomeMessage">
        <h1 class="Titles">Welcome to <span class="brand_name">marketsquare</span></h1>
        <h5>What do you want to buy today</h5>
    </div>
    <form id="searchForm" class="row searchForm justify-content-center">
        <input id="word" name="word" type="text" class="form-control form-control-sm col-8 col-xs-6 col-md-4 col-lg-5 center-align my-auto validate" required>
        <button type="submit" class="btn btn-sm btn-dark col-3 col-md-2 col-lg-1 center-align my-auto">
        Search <i class="fas-fa-sign-in-alt"></i>
        </button>
    </form>
</section>

<section>
    <div class="row justify-content-center" style="height:300px;">
        <div class="col-6 col-md-4 my-auto">
            <div class="justify-content-end"><img class="profileImage ml-auto img-fluid" src="{{ seller.seller_photoURL }}"/></div>
        </div>
        <div class="col-6 col-md-4 my-auto" id="profile">
            <h4>{{ seller.seller_name }}</h4>
            <h>{{ seller.seller_city }}</h6>
            <h6>{{ seller.seller_email }}</h6>
            <h6>{{ seller.seller_phone }}</h6>
        <button class="submit btn btn-dark" id="edit_profile">Edit profile</button>
    </div>
    </div>
</section>

<div class="container" style="background-color: #f8f9fa;">
    <div id="update" style="display: none">
    <h2 id="success"></h2>
    <div class="card row justify-content-center">
        <h3 class="mx-auto Titles">Update profile</h3>
        <div class="card-body mx-auto col-10 col-md-4">
            <form action="" id="updateForm">
            <div class="card-panel">
            <!---- Update seller_name-->
                    <div class="md-form">
                        <label for="seller_name">Username</label>
                        <input id="seller_name" name="seller_name" type="text" 
                        value="{{seller.seller_name}}" class="form-control validate" required>
                    </div>
                <!---- Update seller_email-->
                    <div class="md-form">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email"
                        value="{{seller.seller_email}}" class="form-control validate" required>
                </div>
                <!---- Update seller_password-->
                    <div class="md-form">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" 
                        value="{{seller.password_hash}}" class="form-control validate" required> 
            </div>
            <!----Update seller_phone-->
                    <div class="md-form">
                        <label for="username">Phone</label>
                        <input id="phone" name="phone" type="text"
                        value="{{seller.seller_phone}}" class="form-control validate" required>
                </div>
                <!----Update seller_city-->
                    <div class="md-form">
                        <label for="city">City</label>
                        <input id="city" name="city" type="text"
                        value="{{seller.seller_city}}" class="form-control validate" required> 
                </div>
                <div class="md-form">
                        <label for="photo">Photo</label>
                        <input id="photo" name="photo" type="file" class="form-control validate" required> 
                </div>

                <input type="hidden" id="userId" value="{{seller.id}}"/>
            <!---- Register button-->
            <div class="row">
                <button type="submit" id="updateBtn" class="btn btn-dark">
                    Update profiles <i class="fas-fa-sign-in-alt"></i>
                </button>
            </div>
            </div>
            </form>
        </div>
    </div>
    </div>
<section class="container item_display">
    <div id="home" class="row justify-content-start" style="padding-top: 50px;">
        <div class="col-12 text-center">
            <h2></h2>
        </div>
{% for product in listings %}
    <a href="">
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card-deck">
                    <div class="card h-60">
                        <a href="#"><img class="card-img-top imageHeight img-fluid" src="{{ product.product_photoURL }}" /></a>
                        <div class="card-body" style="padding-top: 5px; padding-bottom: 5px;">
                            <h5 class="card-title" style="margin-bottom: 5px;">
                                {{product.product_name}}
                            </h5>
                            <h6>
                                {{product.product_price}}
                            </h6>
                            <a href="/product/delete/{{ product.id }}">Delete</a>
                            <a href="/product/update/{{ product.id }}">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
</section>
<section class="container-fluid">
    <div class="row howToSection justify-content-center">
        <h2 class="col-12 col-md-12 my-auto Titles text-center">How It Works</h2>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="searchItem mx-auto"></div>
            <p>Search for items</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="contactSeller mx-auto"></div>
            <p>Contact seller</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="Transact mx-auto"></div>
            <p>Arrange transaction</p>
        </div>
    </div>
</section>
{% endblock %}
