{% extends "base.html" %}
{% block content %}
<section class="container-fluid baseContainer">
    <div class="welcomeMessage">
        <h1>Welcome to Marketsquare</h1>
        <h6>What do you want to buy today</h6>
    </div>
    <form id="searchForm" class="row searchForm justify-content-center">
        <input id="word" name="word" type="text" class="form-control form-control-sm col-8 col-xs-6 col-md-4 col-lg-5 center-align my-auto validate" required>
        <button type="submit" class="btn btn-sm btn-dark center-align my-auto">
        Search <i class="fas-fa-sign-in-alt"></i>
        </button>
    </form>
</section>
<div class="card row">
    <div class="card-body mx-auto col-10 col-md-4">
        <form method="POST" action="{{ url_for('register') }}">
        <p class="h4 text-center py-4">Sign up</p>
        <!---- Username input-->  
            <div class="md-form">
                <label class="font-weight-light" for="seller_name"><i class="fa fa-user prefix grey-text"></i> Username</label>
                <input class="form-control validate" id="seller_name" name="seller_name" type="text" minlength="5"
                    placeholder="Username"  maxlength="15" required>
                
            </div>
            <!---- Username input-->
            <div class="md-form">
                <label class="font-weight-light" for="email"><i class="fa fa-envelope prefix grey-text"></i> Email</label>
                <input class="form-control" id="email" name="email" type="email" minlength="5"
                    class="validate" required>
            </div>
            <!---- Password input-->
            <div class="md-form">
                <label class="font-weight-light" for="password"><i class="fa fa-lock prefix grey-text"></i> Password</label>
                <input class="form-control validate" id="password" name="password" type="password" minlength="5"
                            maxlength="15"required>
            </div>
        <!---- Username input-->
            <div class="md-form">
                <label class="font-weight-light" for="phone"><i class="fa fa-phone prefix grey-text"></i> Phone</label>
                <input class="form-control" id="phone" name="phone" type="text" minlength="5"
                                maxlength="15" required>
            </div>
            <!---- Username input-->
            <div class="md-form">
                <label class="font-weight-light" for="city"><i class="fa fa-city prefix grey-text"></i> City</label>
                <input class="form-control validate" id="city" name="city" type="text" minlength="5"
                                maxlength="15" required>
            </div>
        <!---- Register button-->
            <div class="text-center py-4 mt-3">
                <button type="submit" class="btn btn-dark">
                    Register <i class="fas-fa-sign-in-alt"></i>
                </button>
            </div>
        </form>
        <div class="mx-auto col-10 col-md-12">
            <p class="center-align text-center">
                Already registered?
                 <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log in</a>
            </p>
        </div>
    </div>    
</div>
<section class="container-fluid">
    <div class="row howToSection justify-content-center">
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="searchItem mx-auto"></div>
            <p>Search for items</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="contactSeller mx-auto"></div>
            <p>Contact seller</p>
        </div>
        <div class="col-12 col-md-3 my-auto text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="Transact mx-auto"></div>
            <p>Arrange transaction</p>
        </div>
    </div>
</section>    

{% endblock %}






<!-- Card -->
<div class="card">
	<!-- Card body -->
	<div class="card-body">
		<!-- Material form register -->
		<form>
			<p class="h4 text-center py-4">Sign up</p>
			<!-- Material input text -->
			<div class="md-form"> <i class="fa fa-user prefix grey-text"></i>
				<input type="text" id="materialFormCardNameEx" class="form-control">
				<label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
			</div>
			<!-- Material input email -->
			<div class="md-form"> <i class="fa fa-envelope prefix grey-text"></i>
				<input type="email" id="materialFormCardEmailEx" class="form-control">
				<label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
			</div>
			<!-- Material input email -->
			<div class="md-form"> <i class="fa fa-exclamation-triangle prefix grey-text"></i>
				<input type="email" id="materialFormCardConfirmEx" class="form-control">
				<label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
			</div>
			<!-- Material input password -->
			<div class="md-form"> <i class="fa fa-lock prefix grey-text"></i>
				<input type="password" id="materialFormCardPasswordEx" class="form-control">
				<label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
			</div>
			<div class="text-center py-4 mt-3">
				<button class="btn btn-cyan" type="submit">Register</button>
			</div>
		</form>
		<!-- Material form register -->
	</div>
	<!-- Card body -->
</div>
<!-- Card -->