{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card-panel">
        <div class="h3 center-align light-blue-text text-darken-4">
           {{ seller.seller_name }}'s Profile 
        </div> 
      </div>
    </div>
</div>
<h3 class="center-align">Update profile</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="PATCH" action="{{ url_for('update_profile') }}">
      <div class="card-panel">
      <!---- Update seller_name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                <input id="seller_name" name="seller_name" type="text" 
                placeholder="{{seller.seller_name}}" class="validate" required>
                <label for="seller_name">Username</label>
            </div>
        </div>
        <!---- Update seller_email-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                <input id="email" name="email" type="email"
                placeholder="{{seller.seller_email}}" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <!---- Update seller_password-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                <input id="password" name="password" type="password" 
                placeholder="{{seller.password_hash}}" class="validate" required>
                <label for="password">Password</label>
            </div>
      </div>
      <!----Update seller_phone-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                <input id="phone" name="phone" type="text"
                placeholder="{{seller.seller_phone}}" class="validate" required>
                <label for="username">Phone</label>
            </div>
        </div>
        <!----Update seller_city-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                <input id="city" name="city" type="text"
                placeholder="{{seller.seller_city}}" class="validate" required>
                <label for="city">City</label>
            </div>
        </div>
      <!---- Register button-->
      <div class="row">
        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
            Register <i class="fas-fa-sign-in-alt"></i>
        </button>
      </div>
      </div>
    </form>
  </div>


{% endblock %}